<%= render :partial => 'spree/admin/shared/admin_header' %>
<div class="container" style="padding-top:100px">
	<h1>Editing Slider</h1>
	<%= render 'form' %>
	<%= link_to 'Back', admin_sliders_path, class: 'btn btn-info pull-left'%>
	<%= link_to 'Show', @admin_slider, class: 'btn btn-success pull-right' %>
</div>