<%= cart_proucts.each do |product| %>

<table>
    <tbody>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/3.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/2.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/5.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/3.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/3.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
        <tr class="miniCartProduct">
            <td style="width:20%" class="miniCartProductThumb">
                <div><a href="product-details.html"> <img src="assets/product/4.jpg" alt="img"> </a>
                </div>
            </td>
            <td style="width:40%">
                <div class="miniCartDescription">
                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                    <span class="size"> 12 x 1.5 L </span>

                    <div class="price"><span> $8.80 </span></div>
                </div>
            </td>
            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
            <td style="width:5%" class="delete"><a> x </a></td>
        </tr>
    </tbody>
</table>