<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-7">
    <div class="row userInfo">
      <div class="col-xs-12 col-sm-12">
        <table>
          <tbody>
            <tr class="CartProduct">
              <td style="width:10%" class="CartProductThumb">
                <div><a href="product-details.html"><img src="/assets/images/product/9.jpg" alt="img"></a></div>
              </td>
              <td style="width:40%">
                <div class="CartDescription">
                  <h4><a href="product-details.html">Denim T shirt Black </a></h4>
                  <span class="size">12 x 1.5 L</span>
                  <div class="price"><span>$85</span></div>
                </div>
              </td>
              <td style="width:15%">
                <a class="btn btn-primary">
                <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span>
                </a>
              </td>
              <td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/row end-->
  </div>
  <div class="col-lg-3 col-md-3 col-sm-5"></div>
</div>
<!--/.row-->
<div style="clear:both"></div>