<section class="section-hero" id="section-category">
  <div class="container">
    <div class="hero-section-header ">
      <h3 class="section-title style2 text-center">
        <span><strong>OUR FAVORITE CATEGORY</strong></span>
      </h3>
<!--             <h3 class="hero-section-title">OUR FAVORITE CATEGORY</h3> -->
    </div>
    <div class="row row-centered">
      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
        <div class="inner">
            <a class="overly hw100" href="category2.html">
                <span class="explore-title"> Dresses</span>
            </a>
            <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/1.jpg" class="img-responsive"></a>
        </div>
      </div>
      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
          <div class="inner">
              <a class="overly hw100" href="category2.html">
                  <span class="explore-title"> Jackets</span>
              </a>
              <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/2.jpg" class="img-responsive"></a>
          </div>
      </div>
      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
        <div class="inner">
          <a class="overly hw100" href="category2.html"><span class="explore-title"> Dresses</span>
          </a>
          <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/3.jpg" class="img-responsive"></a>
        </div>
      </div>
      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
        <div class="inner">
          <a class="overly hw100" href="category2.html"><span class="explore-title"> Dresses</span>
          </a>
          <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/4.jpg" class="img-responsive"></a>
        </div>
      </div>
      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
        <div class="inner">
          <a class="overly hw100" href="category2.html"><span class="explore-title"> Dresses</span>
          </a>
          <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/5.jpg" class="img-responsive"></a>
        </div>
      </div>

      <div class="block-explore col-centered col-sm-4 col-xs-4 col-xs-min-12">
        <div class="inner">
          <a class="overly hw100" href="category2.html"><span class="explore-title"> Dresses</span>
          </a>
          <a href="category2.html" class="img-block"> <img alt="img" src="assets/category/6.jpg" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</section>