<div class="banner banner-boxes">
    <div class="slider-content"><span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
        <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

        <div class="swiper-container swiper-container-h">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <div class="box-text">
                            <h1>NEW COLLECTION</h1>

                            <p>Veggies es bonus vobis, proinde vos postulo essum magis
                                kohlrabi welsh onion daikon amaranth.</p>
                            <a class="btn btn-stroke-light"> SHOP NOW</a></div>
                        <div class="box-content-overly">
                            <!-- Delete this div if you dont want overly effect -->
                        </div>
                        <a href="#" class="box-img"> <img src="assets/slider/box/1.jpg" alt="img"></a></div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <div class="box-text-table">
                                <div class="box-text-cell">
                                    <h1 class="bolder-style light"><a href="#">SALE</a></h1>
                                    <span class="bolder-sub"> <a href="#"> EXTRA 80% OFF </a> </span></div>
                            </div>
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="assets/slider/box/2a.jpg" alt="img"></a></div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-slider-content">
                            <div class="box-price-tag"><span class="price">$200</span></div>
                            <a href="#" class="box-img"> <img src="assets/slider/box/2b.jpg" alt="img"> </a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url">
                                <!-- keep this blank. This link will provide a hyperlink over the box-content-overly div -->
                            </a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <div class="box-text bottom-align">
                            <h1>MEN COLLECTION</h1>
                            <a class="btn btn-stroke-light"> SHOP NOW</a></div>
                        <a href="#" class="box-img"> <img src="assets/slider/box/3.jpg" alt="img"></a>

                        <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                    </div>
                </div>
                <div class="swiper-slide slide-4x">
                    <div class="box-4in a">
                        <div class="box-slider-content"><a href="#" class="box-img"> <img src="assets/slider/box/4a.jpg"
                                                                                          alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="box-4in b">
                        <div class="box-slider-content"><a href="#" class="box-img"> <img src="assets/slider/box/4b.jpg"
                                                                                          alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="box-4in c">
                        <div class="box-slider-content"><a href="#" class="box-img"> <img src="assets/slider/box/4c.jpg"
                                                                                          alt="img"></a>

                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell"><a class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-4in d">
                        <div class="box-slider-content"><a href="#" class="box-img"> <img src="assets/slider/box/4d.jpg"
                                                                                          alt="img"></a>

                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell"><a class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content"><a href="#" class="box-img"> <img src="assets/slider/box/6.jpg"
                                                                                      alt="img"></a>

                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>New Summer Look</h1>

                                        <p>Veggies es bonus vobis, proinde vos postulo essum magis
                                            kohlrabi welsh onion daikon amaranth.</p>
                                        <a class="btn btn-stroke-dark"> SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell"><span class="price dealprice"> $ 120 </span> <a
                                            class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                </div>
                            </div>
                            <a href="#" class="box-img"> <img src="assets/slider/box/7b.jpg" alt="img"></a></div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-4in c">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img
                                    src="assets/slider/box/7b1.jpg" alt="img"></a>

                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell"><span class="price"> $ 450 </span> <a
                                                class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-4in d">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img
                                    src="assets/slider/box/7b2.jpg" alt="img"></a>

                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell"><span class="price"> $ 680 </span> <a
                                                class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-1x">
                    <div class="box-slider-content"><a href="#" class="box-img last-child-slide"> <img
                            src="assets/slider/box/5.jpg" alt="img"></a>

                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Discover it</h1>

                                        <p>Veggies es bonus vobis, proinde vos postulo essum magis
                                            kohlrabi welsh onion daikon amaranth.</p>
                                        <a class="btn btn-stroke-dark"> SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-pagination swiper-pagination"></div>
        </div>

        <!--/.full-container-->
    </div>
</div>
<!--/.banner style1-->