<div class="row">
  <div class=" image-show-case-wrapper center-block relative col-lg-12">
    <div id="imageShowCase" class="owl-carousel owl-theme">
    <% admin_sliders.each do |admin_slider|%>
      <div class="product-slide" >
        <div class="box-content-overly box-content-overly-white">
          <div class="box-text-table">
            <%= link_to products_path, :class => 'box-text-cell' do%>
              <div class="box-text-cell-inner ">
                <h1><%= admin_slider.title %></h1>
                <p class="btn btn-stroke-light"><strong>
                <%= admin_slider.description %> </strong></p>
              </div>
            <%end%>
          </div>
        </div>
        <%= image_tag(admin_slider.attachment.url(:slider)) %>
      </div>
      <!-- /.product-slide  -->
    <% end %>
    </div>
      <!--/#imageShowCase -->

    <div style="clear:both;"></div>
    <a id="ps-next" class="ps-nav"><img src="assets/site/arrow-right-dark.png" alt="N E X T"> </a>
    <a id="ps-prev" class="ps-nav"><img src="assets/site/arrow-left-dark.png" alt="P R E V"></a>
  </div>
    <!--/.image-show-case-wrapper -->
</div>