<div class="row">
  <div class=" image-show-case-wrapper center-block relative col-lg-12">
    <div id="imageShowCase" class="owl-carousel owl-theme">
      <div class="product-slide">
        <div class="box-content-overly box-content-overly-white">
          <div class="box-text-table">
            <div class="box-text-cell ">
              <div class="box-text-cell-inner ">
                <h1>On sale</h1>
                <a class="btn btn-stroke-light"> SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
        <a href="#"><img class="img-responsive" src="assets/slider/single-img/1.jpg" alt="img"></a>
        </div>
        <!-- /.product-slide  -->
        <div class="product-slide">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner ">
                  <h1>DISCOUNTS UP TO 50% OFF</h1>
                  <a class="btn btn-stroke-light"> SHOP NOW</a>
                </div>
              </div>
            </div>
          </div>
          <a href="#"><img class="img-responsive" src="assets/slider/single-img/2.jpg" alt="img">
          </a>
        </div>
        <!-- /.product-slide  -->
        <div class="product-slide">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner ">
                  <h1>NEW Accessories</h1>
                  <a class="btn btn-stroke-light"> SHOP NOW</a>
                </div>
              </div>
          </div>
        </div>
          <a href="#"><img class="img-responsive" src="assets/slider/single-img/3.jpg" alt="img"></a>
      </div>
        <!-- /.product-slide  -->
    </div>
      <!--/#imageShowCase -->

    <div style="clear:both;"></div>
    <a id="ps-next" class="ps-nav"><img src="assets/site/arrow-right-dark.png" alt="N E X T"> </a>
    <a id="ps-prev" class="ps-nav"><img src="assets/site/arrow-left-dark.png" alt="P R E V"></a>
  </div>
    <!--/.image-show-case-wrapper -->
</div>

<div style="clear:both"></div>


